.style-1 {
  font-size: 12;
  font-weight: bold;
  color: Black;
  margin-left: 60px;
}
.style-2 {
  font-size: 12;
  font-weight: bold;
  color: Black;
  margin-left: 140px;
}
.style-3 {
  font-size: 12;
  font-weight: bold;
  color: Black;
  margin-left: 150px;
}

.t {
  color: #14bcd4;
}
